@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @Scripts.Render("/myscripts")
</head>
<body>
    <div> 
    </div>
</body>
</html>
